.songs{
  display: flex;
  width: 100% !important;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 12px;
}

.song-container {
  width: 300px;
  height: 320px;
  margin-bottom: 20px;
  border: 3px solid #F1F1F2;
  border-radius: 14px;
  background-color: white;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.0607733);
  //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.song-title{
  color: black;
  margin-bottom: 10px;
  margin-top: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.song-lyric {
  color: black;
  text-overflow:ellipsis;
  overflow:hidden;
  // Addition lines for 2 line or multiline ellipsis
  display: -webkit-box !important;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  white-space: normal;
  margin-bottom: 7px;
  margin-left: 10px;
  font-size: 15px;
}

.viewLyricButton{
  width: 95%;
  margin-left: 7px;
  margin-right: auto;
  border: 3px solid #0654d4;
  border-radius: 11px;
  background: #0654d4;
  color : white;
}

//.song-container:hover{
//  background-color: rgba(5, 0, 0, 0.24);
//  border-radius: 12px;
//  cursor: pointer;
//}

@media screen and (max-width: 450px) {

  .songs{
    display: flex;
    width: 100% !important;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 12px;
  }

  .song-title {
    color: black;
    margin-bottom: 10px;
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .song-lyric {
    color: black;
    white-space: normal;
    text-overflow:ellipsis;
    overflow:hidden;
    // Addition lines for 2 line or multiline ellipsis
    display: -webkit-box !important;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    margin-bottom: 7px;
    margin-left: 10px;
    font-size: 15px;
  }

  //.song-container::after {
  //  //justify-content: space-between;
  //  content: "";
  //  width: 50%;
  //}

  .song-container {
    width: 160px;
    height: 225px;
    margin-bottom: 15px;
    border: 3px solid #F1F1F2;
    border-radius: 14px;
    background-color: white;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.0607733);
  }

  .viewLyricButton {
    width: 95%;
    margin-left: 3px;
    margin-right: auto;
    border: 3px solid #0654d4;
    border-radius: 11px;
    background: #0654d4;
    color : white;
  }
}
